{
  "enabled": true,
  "indentStyle": "tab",
  "lineWidth": 120,
  "indentWidth": 2,
  "lineEnding": "lf",
  "singleQuote": false,
  "semi": true,
  "tailwindStylesheet": "./src/styles/global.css",
  "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ]
}
