---
import ProjectJSX from '../jsx/ProjectJSX';
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components';
import type { Project } from '../../../types/common';
import eitaar_dev from '../../../assets/img/eitaar_dev.png';
import wahoot from '../../../assets/img/wahoot.png';
import get_github_api from '../../../assets/img/get_github_api.png';

const projects: Project[] = [
  {
    title: 'Personal Portfolio',
    stack: ['Astro', 'React', 'HeroUI', 'Tailwind CSS', 'TypeScript'],
    description:
      'My personal portfolio website built with Astro, showcasing my skills and projects.',
    github: 'https://github.com/eitaar/eitaar.dev',
    page: 'https://eitaar.dev',
    image: eitaar_dev,
  },
  {
    title: 'Wahoot',
    stack: ['Nuxt', 'Vue', 'JavaScript'],
    description: 'An unofficial third-party Kahoot client built using Nuxt. and custom library.',
    github: 'https://github.com/eitaar/wahoot',
    page: 'https://wahoot.eitaar.dev',
    image: wahoot,
  },
  {
    title: 'GitHub Stats API',
    stack: ['Hono', 'TypeScript'],
    description: "A simple API to fetch GitHub user's stats, built with Hono and TypeScript.",
    image: get_github_api,
    page: 'https://get-github-stats.eitaar.workers.dev/eitaar',
  },
];
---

<div class="flex w-full flex-wrap justify-center gap-3">
  {
    projects.map((project) => {
      const projectProps: any = {
        title: project.title,
        stack: project.stack,
        description: project.description,
      };
      if (project.github) {
        projectProps.github = project.github;
      }
      if (project.page) {
        projectProps.page = project.page;
      }

      return (
        <ProjectJSX client:visible {...projectProps}>
          <Icon name="ri:github-fill" slot="githubIcon" class="h-3/5 w-auto" />
          <Icon name="mdi:open-in-new" slot="pageIcon" class="h-3/5 w-auto" />
          <Image
            src={project.image}
            alt={project.title}
            width={512}
            height={288}
            decoding={'async'}
            class="h-auto w-full rounded-lg"
            loading="lazy"
            fetchpriority={'low'}
          />
        </ProjectJSX>
      );
    })
  }
</div>
