---
import ProjectJSX from '../jsx/ProjectJSX';
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components';
const { isPreview } = Astro.props;
import projects from '../../../data/projects';
const renderedProjects = isPreview ? projects.slice(0, 4) : projects;
---

<div class="grid grid-cols-1 gap-4 sm:grid-cols-2 xl:grid-cols-4">
  {
    renderedProjects.map((project) => {
      const projectProps: any = {
        title: project.title,
        stack: project.stack,
        description: project.description,
      };
      if (project.github) {
        projectProps.github = project.github;
      }
      if (project.page) {
        projectProps.page = project.page;
      }

      return (
        <ProjectJSX client:visible {...projectProps}>
          <Icon name="ri:github-fill" slot="githubIcon" class="h-3/5 w-auto" />
          <Icon name="mdi:open-in-new" slot="pageIcon" class="h-3/5 w-auto" />
          <Image
            src={project.image}
            alt={project.title}
            width={512}
            height={288}
            format="avif"
            quality={40}
            decoding="async"
            class="h-auto w-full rounded-lg"
            loading="lazy"
            fetchpriority="low"
          />
        </ProjectJSX>
      );
    })
  }
</div>
