@import "tailwindcss";
@font-face {
	font-display: swap;
	font-family: "Share";
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/share-v20-latin-regular.woff2") format("woff2");
}
@font-face {
	font-display: swap;
	font-family: "Share";
	font-style: bold;
	font-weight: 700;
	src: url("/fonts/share-v20-latin-700.woff2") format("woff2");
}
@font-face {
	font-display: swap;
	font-family: "Space Mono";
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/space-mono-v17-latin-regular.woff2") format("woff2");
}
@font-face {
	font-display: swap;
	font-family: "Space Mono";
	font-style: bold;
	font-weight: 700;
	src: url("/fonts/space-mono-v17-latin-700.woff2") format("woff2");
}
@font-face {
	font-display: swap;
	font-family: "Ndot57Caps";
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/Ndot57Caps.woff2") format("woff2");
}
@font-face {
	font-display: swap;
	font-family: "Share Tech Mono";
	font-weight: 400;
	font-style: normal;
	src: url("/fonts/shareTechMono.woff2") format("woff2");
}

@theme {
	--font-Ndot: "Ndot57Caps", sans-serif;
	--font-Share: "Share", sans-serif;
	--font-SpaceMono: "Space Mono", monospace;
	--font-ShareTech: "Share Tech Mono", monospace;
	--tracking-text: 0.002em;
	--color-content: #e0e0e0;
	--color-subContent: #dbdbdb;
	--color-bg: #0a0a0a;
	--animate-underline: underline 0.2s ease-in-out;
}

@keyframes underline {
	from {
		width: 0%;
	}
	to {
		width: 100%;
	}
}

.headline {
	@apply font-SpaceMono text-lg font-bold tracking-text sm:text-xl;
}

.title {
	@apply font-Share text-5xl tracking-widest;
}

.projectTitle {
	@apply font-Share text-4xl font-bold tracking-tighter;
}

.text {
	@apply font-SpaceMono text-sm tracking-text sm:text-base;
}

.chip-text {
	@apply font-SpaceMono text-xs tracking-widest;
}

.numbering {
	@apply font-ShareTech tracking-wide text-[#898989];
}
.link {
	@apply cursor-pointer font-Share tracking-wide underline underline-offset-4;
}

.hover-underline-animation {
	@apply relative w-fit after:absolute after:bottom-0 after:left-0 after:h-[2px] after:w-full after:origin-left after:scale-x-0 after:bg-current after:transition-transform after:duration-300 group-hover:after:scale-x-100;
}

:root {
	@apply scroll-smooth text-content;
}
