@import "tailwindcss";
@font-face {
	font-display: swap;
	font-family: "Share";
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/share-v20-latin-regular.woff2") format("woff2");
}
@font-face {
	font-display: swap;
	font-family: "Share";
	font-style: bold;
	font-weight: 700;
	src: url("/fonts/share-v20-latin-700.woff2") format("woff2");
}
@font-face {
	font-display: swap;
	font-family: "Space Mono";
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/space-mono-v17-latin-regular.woff2") format("woff2");
}
@font-face {
	font-display: swap;
	font-family: "Space Mono";
	font-style: bold;
	font-weight: 700;
	src: url("/fonts/space-mono-v17-latin-700.woff2") format("woff2");
}
@font-face {
	font-display: swap;
	font-family: "Ndot57Caps";
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/Ndot57Caps.woff2") format("woff2");
}

@theme {
	--font-Ndot: "Ndot57Caps", sans-serif;
	--font-Share: "Share", sans-serif;
	--font-SpaceMono: "Space Mono", monospace;
	--tracking-text: 0.002em;
	--color-content: #e0e0e0;
	--color-subContent: #dbdbdb;
	--color-bg: #0a0a0a;
}

.headline {
	@apply font-SpaceMono text-lg font-bold tracking-text sm:text-xl;
}

.title {
	@apply font-Share text-5xl tracking-widest;
}

.projectTitle {
	@apply font-Share text-3xl font-bold tracking-tighter;
}

.text {
	@apply font-SpaceMono text-sm tracking-text sm:text-base;
}

.chip-text {
	@apply font-SpaceMono text-xs tracking-wider;
}

:root {
	@apply text-content;
}
