---
import ArticleCard from '../components/articles/ArticleCard';
import Layout from '../layouts/Layout.astro';
import { Icon } from 'astro-icon/components';
import { getCollection } from 'astro:content';
const articles = await getCollection('articles');
---

<Layout Navbar={true} title="Articles">
  <h1 class="mx-auto mb-4 text-center font-Quantico text-4xl font-bold">Articles</h1>
  <div class="mx-auto grid w-9/10 grid-cols-1 gap-4 font-Quantico md:grid-cols-3 lg:grid-cols-5">
    {
      articles.map((article) => (
        <ArticleCard {...article} client:visible>
          <Icon name="mdi:pencil" class="h-4 w-4" slot="penIcon" />
        </ArticleCard>
      ))
    }
  </div>
</Layout>
