---
import Layout from '../layouts/Layout.astro';
import About from '../components/index/astro/About.astro';
import Interests from '../components/index/astro/Interests.astro';
import Skills from '../components/index/astro/Skills.astro';
import Stats from '../components/index/astro/Stats.astro';
import Hobbies from '../components/index/astro/Hobbies.astro';
import Header from '../layouts/astro/Header.astro';
import Projects from '../components/index/astro/Projects.astro';
---

<Layout title="eitaar.dev" showRain={true}>
  <Header class="fixed inset-x-0 top-0 z-50" />
  <div
    class="mx-auto flex min-h-[calc(100vh-var(--navbar-height))] w-9/10 items-center justify-center"
  >
    <About class="" />
  </div>
  <div>
    <h2
      class="mx-auto w-9/10 py-8 text-center font-Quantico text-3xl font-bold underline underline-offset-8"
      id="ABOUT"
    >
      Information
    </h2>
    <section class="mx-auto flex w-9/10 flex-col gap-4">
      <div class="flex flex-col gap-4 lg:flex-row">
        <div class="flex flex-3 flex-col gap-4">
          <div class="flex flex-1 flex-col gap-4 lg:flex-row">
            <Skills />
            <Interests />
          </div>
          <div class="flex flex-2 flex-col gap-4 lg:flex-row">
            <Stats />
            <Hobbies />
          </div>
        </div>
      </div>
      <!-- fotter -->
    </section>
  </div>
  <div>
    <h2
      class="mx-auto w-9/10 py-8 text-center font-Quantico text-3xl font-bold underline underline-offset-8"
      id="PROJECTS"
    >
      Main Projects
    </h2>
    <div class="mx-auto w-9/10">
      <Projects isPreview={true} />
    </div>
  </div>
</Layout>
