---
import Layout from '../layouts/Layout.astro';
import About from '../components/index/astro/About.astro';
import Interests from '../components/index/astro/Interests.astro';
import Skills from '../components/index/astro/Skills.astro';
import Stats from '../components/index/astro/Stats.astro';
import Hobbies from '../components/index/astro/Hobbies.astro';
import Title from '../components/index/astro/Title.astro';
import Header from '../layouts/astro/Header.astro';
import Projects from '../components/index/astro/Projects.astro';
---
<Layout title="eitaar.dev" showRain={true} >
  <Header class="fixed inset-x-0 top-0 z-50"/>
  <div class="w-9/10 mx-auto">
    <About/>
  </div>
  <div>
    <h2 class="font-Quantico text-3xl text-center font-bold py-4" id="ABOUT">Information</h2>
    <div class="w-9/10 flex flex-col gap-3 mx-auto">
      <div class="flex flex-col lg:flex-row gap-3">
        <div class="flex-3 flex flex-col gap-3">
          <div class="flex flex-col lg:flex-row gap-3 flex-1">
            <Skills />
            <Interests />
          </div>      
          <div class="flex flex-col lg:flex-row gap-3 flex-2">
            <Stats />
            <Hobbies />
          </div>
        </div>
      </div>
      <!-- fotter -->
    </div>
  </div>
  <div class="min-h-screen">
    <h2 class="font-Quantico text-3xl text-center font-bold py-4" id="PROJECTS">Projects</h2>
    <div class="w-9/10 mx-auto">
      <Projects />
    </div>
  </div>
</Layout> 