---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<h1 class="title text-content">Title</h1>
	<h2 class="projectTitle text-content">Project Title</h2>
	<h2 class="headline text-content">Headline</h2>
	<h2 class="text text-content">aaaa</h2>
	<p class="chip-text text-content">text</p>
</Layout>
