---
import { Icon } from 'astro-icon/components';
import Chip from './ui/Chip.astro';
import type { SkillProps } from '../types/global';
interface Props extends SkillProps {}
const { icon, name, description, confidence, tags } = Astro.props;
---

<div class="rounded-lg bg-base-100 p-6 shadow">
  <div class="mb-3 flex items-center">
    <Icon name={icon} class="mr-3 h-8 w-8" />
    <h3 class="text-xl font-semibold">{name}</h3>
  </div>
  <div class="mb-4 flex flex-wrap gap-2">
    {tags && tags?.map((tag) => <Chip label={tag} size="sm" />)}
  </div>
  <p class="mb-4 text-base-content/80">{description}</p>
  <div class="flex items-center">
    <span class="mr-2 text-sm">Confidence:</span>
    <div class="flex">
      {
        Array.from({ length: 5 }, (_, i) => (
          <Icon
              name="mdi:star"
            class={`h-5 w-5 ${i < confidence ? 'fill-current text-yellow-400' : 'text-gray-300'}`}
          />
        ))
      }
    </div>
  </div>
</div>
