---
const { title, Navbar, showRain } = Astro.props;
import avatarIcon from '../assets/img/avatar.webp';
import { HeroUIProvider } from '@heroui/react';
import Header from './astro/Header.astro';
import '../styles/global.css';
import '../styles/drop.css';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="eitaar.dev" />
    <script is:inline>
      if (localStorage.getItem('heroui-theme') === null) {
        document.documentElement.setAttribute('heroui-theme', 'light');
        document.documentElement.setAttribute('class', 'light');
      } else {
        document.documentElement.setAttribute('heroui-theme', localStorage.getItem('heroui-theme'));
        document.documentElement.setAttribute('class', localStorage.getItem('heroui-theme'));
      }
    </script>
    <!-- Open Graph Protocol (OGP) meta tags -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content="eitaar's website" />
    <meta property="og:image" content="https://eitaar.dev/avatar.webp" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="eitaar" />
    <meta property="og:url" content="https://eitaar.dev/" />
    <meta property="og:logo" content="https://eitaar.dev/avatar.webp" />
    <link rel="icon" type="image/png" href={avatarIcon.src} />
    <title>{title}</title>
  </head>
  <body>
    <!-- add CSS Background animation here-->
    {
      showRain && (
        <div class="rain-container">
          <div class="rain" />
          <div class="rain" />
          <div class="rain" />
          <div class="rain" />
          <div class="rain" />
          <div class="rain" />
          <div class="rain" />
          <div class="rain" />
          <div class="rain" />
          <div class="rain" />
          <div class="rain" />
          <div class="rain" />
          <div class="rain" />
          <div class="rain" />
          <div class="rain" />
          <div class="rain" />
          <div class="rain" />
          <div class="rain" />
          <div class="rain" />
          <div class="rain" />
          <div class="rain" />
          <div class="rain" />
          <div class="rain" />
          <div class="rain" />
          <div class="rain" />
          <div class="rain" />
          <div class="rain" />
          <div class="rain" />
          <div class="rain" />
        </div>
      )
    }
    {Navbar && <Header />}
    <slot />
  </body>
</html>
