---
import "../styles/global.css";
import BaseHead from "../components/BaseHead.astro";

interface Props {
	title: string;
	description: string;
}
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={title} description={description}/>
	</head>
	<body class="bg-bg">
		<main>
			<slot/>
		</main>
	</body>
	<style>
	@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
	</style>
</html>
